*{
  padding: 0;
  margin: 0;
  color: #FFF;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

body{
  margin: 1px0;
  background-color: #080808;
  background-image: url('assets/Headerbg.png');
  background-repeat: no-repeat; /* Prevent the image from repeating */
 
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.container{ 
  position: relative;
  margin-top: 49px;
  margin-left: 69px;
  height: 368px;
  width: 579px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}



/*  CONTENT  */
.content{
width: 579px;
height: 218px;
border-radius: 8px 8px  0 0;
background: linear-gradient(rgba(0, 179, 255, 0.5), rgba(0, 179, 255, 0.5)), url('assets/cloudbg.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
margin-top: 0;

}
.sun{
  z-index: 1000;
  font-size: 15px !important;
}

.location{
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 20px;
  width: 177px;
  height: 26px;
  left: 69px;  
  top: 49px;
}
.dateAndTime{
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 40;
  font-size: 10px;
  width: 103px;
  height: 16px;
  left: 106px;  
  top: 91px;
}
.description{
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 40;
  font-size: 10px;
  width: 103px;
  height: 16px;
  left: 132px;  
  top: 149px;
}
.temp{
  z-index: 1000;
  width: 126px;
  height: 48px;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 44px;
  font-weight: 20;
  right: 91px;
  top: 48px;
}
.tempMinMax{
  z-index: 1000;
  width: 120px;
  height: 40px;
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 200;
  right: 97px;
  top: 129px;
}

.bottom{
width: 579px;
height: 151px;
border-radius: 8px;
background-color: #383b47;
display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 150px);
  gap: 5px;
  border-radius: 0 0 10px 10px;
  position: relative;
}
.bottom > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  justify-content: center;
  margin: 5px;
  height: 50%;
  bottom: 5px;
  top: 5px;
}


ul,li{
  list-style: none;

}


@keyframes enlarge{
  50%{
      transform: scale(1.2);
  }
}

